{% extends 'base.html' %}
{% load staticfiles %}

{% block logo %}
    <div class="logo">
      <h1>{{ BLOG_TITLE }}</h1>
      <p>{{ BLOG_SIGNATURE }}</p>
  </div>
{% endblock %}

{% block nav %}
    <nav id="topnav" class="f_r">
    <ul>
        {% for category in category_list %}
            <a href="index.html" target="_blank">{{ category.name }}</a>
        {% endfor %}
    </ul>
    <script src="{% static 'js/nav.js' %}"></script>
  </nav>
{% endblock %}

{% block left %}
    <div class="l_box f_l">
        {% include 'banner.html' %}
        {% include 'top_news.html' %}
        {% include 'pagination.html' %}
    </div>
{% endblock %}

{% block right %}
    <div class="r_box f_r">
        {% include 'r_title.html' %}
        {% include 'r_morselect.html' %}
        {% include 'r_cloud.html' %}
        {% include 'r_archive.html' %}
        {% include 'r_links.html' %}
    </div>
{% endblock %}

{% block foolter %}
    <p class="ft-copyright">{{ BLOG_FOOTER }}</p>
    <div id="tbox"> <a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
{% endblock %}